= form_with(model: @profile, local: true) do |f|
  = f.text_field :post_code, placeholder: "郵便番号"
  = f.text_field :tel_number, placeholder: "電話番号"
  = f.text_field :prefecture, placeholder: "都道府県"
  = f.text_field :city, placeholder: "市町村区"
  = f.text_field :address, placeholder: "番地"
  = f.text_field :bullding, placeholder: "建物・マンション名"
  -# = f.file_field :image
  = f.text_field :introduction, placeholder: "自己紹介"
  = f.submit
