.mypage-container.clearfix
  .credit-card-form
    %h2 クレジットカード情報入力
    = form_with url: pay_credit_cards_path, method: :post, id: 'card-form', name: "inputForm" do |f|
      .form-content
        = f.label :カード番号
        %span.form-content__require 必須
        = f.text_field "number", class: "number", placeholder: "半角数字のみ" , maxlength: "16", type: "text", id: "card_number"
        %ul.icon-list
          %li.icon--visa
            = image_tag("visa-logo.gif", id: "icon-visa", height: "20px")
          %li.icon--master
            = image_tag("mc-logo.png", id: "icon-master",  height: "20px")
          %li.icon--saison
            = image_tag("saison-logo.png", id: "icon-saison", height: "20px")
          %li.icon--jcb
            = image_tag("jcb-logo.gif", id: "icon-jcb", height: "20px")
          %li.icon--americanexpress
            = image_tag("amex-logo.gif", id: "icon-americanexpress", height: "20px")
          %li.icon--diners
            = image_tag("diners-logo.gif", id: "icon-diners", height: "20px")
          %li.icon--discover
            = image_tag("discover-logo.gif", id: "icon--discover", height: "20px")
      .form-content
        %label 有効期限
        %span.form-content__require 必須
        %br
        .select-area
          .select-area-content
            = f.select :exp_month, ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"], {include_blank: ''}, {id: "exp_month"}
            .arrow-icon
              = icon('fas', 'chevron-down', class: "arrow-icon")
            %span 月
          .select-area-content
            = f.select :exp_year, (2020..2030), {include_blank: ''}, {id: "exp_year"}
            .arrow-icon
              = icon('fas', 'chevron-down', class: "arrow-icon")
            %span 年
      .form-content
        = f.label :セキュリティコード
        %span.form-content__require 必須
        = f.text_field "cvc", class: "cvc", placeholder: "カード裏面3~4桁の番号", maxlength: "4", id: "cvc"
        .form-content__add
          %span.form-content__question ?
          カード裏面の番号とは？
          .form-content__seqcode-info
            カードの裏面をご参照ください
            = image_tag("seq-card.png", class: "seq-code-image", width: "240px")
      #card_token
        = f.submit "登録する", id: "token_submit"

  = render partial: 'my_pages/side_bar', locals: {card: @card}
