.items-box-content
  .items-box
    = link_to item_path(item.id) do
      .items-box__photo
        = image_tag item.item_images[0].image.url
      .items-box__body
        %h3.items-name
          = item.name
        .items-num
          .items-price
            = item.price
          -# 以下はいいねがなければ非表示にします
          .items-likes  
            = icon('far', 'heart', class: "like-icon")
            %span 73