.users-details
  .users-detail-profile-box
    .users-detail-photo-box
      = link_to user_path(@user.id) do
        .users-detail-photo
          - if @profile&.image.blank?
            = image_tag('member_photo_noimage_thumb.png', height: '180px', width: '180px')
          - else
            = image_tag "#{@profile.image.url}", class: "profile-image", height: '180px', width: '180px'
        %h2
          = @user.nickname
    .users-score
      %span
        - rates = UserRate.where(user_id: @user.id).length
        = "評価 #{rates}"
      %span
        - user_items = Item.where(user_id: @user.id).length
        = "出品数 #{user_items}"
  .users-rate-area
    .users-rate-area__good
      = icon('fas', 'laugh', class: "good-icon")
      %span
        - good_rates = UserRate.where(user_id: @user.id, rate: "good").length
        = "#{good_rates}"
    .users-rate-area__good
      = icon('fas', 'meh', class: "normal-icon")
      %span
        - normal_rates = UserRate.where(user_id: @user.id, rate: "normal").length
        = "#{normal_rates}"
    .users-rate-area__good
      = icon('fas', 'frown', class: "bad-icon")
      %span
        - bad_rates = UserRate.where(user_id: @user.id, rate: "bad").length
        = "#{bad_rates}"
  .users-self-introduce-area
    = "#{Profile.find_by(user_id: @user.id)&.introduction}"
  .social-media-box
    = link_to "#", class: "facebook" do
      = icon('fab', 'facebook-square', class: "facebook-icon")
    = link_to "#", class: "twitter" do
      = icon('fab', 'twitter', class: "twitter-icon")
    = link_to "#", class: "line" do
      = icon('fab', 'line', class: "line-icon")
  .items-box-container
    %h2.items-box-head
      この出品者の商品
    - if @items.present?
      .items-box-content
        = render partial: 'item', collection: @items
    - else
      %h2.no-items-msg 出品した商品はありません

  = link_to new_item_path, class: "sell-btn" do
    %div 出品する
    = image_tag "icon_camera.png", size: "54x54", class: "camera-icon"