.footer2
  %ul.footer2__link
    %li
      = link_to "#" do
        %span プライバシーポリシー 
    %li
      = link_to "#" do
        %span FURIMA利用規約
    %li
      = link_to "#" do
        %span 特定取引商品に関する表記
  .footer__logo
    = link_to "items/index" do
      = image_tag "http://furima.tokyo/assets/logo-d3d78326971d78b06e3d6f0ba666d025a8ad681286b4d9e00e7dbe8673bcfd23.svg"
  %p © FURIMA
