.purchase
  .purchase__detail
    .purchase__detail__main
      .detail__main__content
        %h1.purchase__name 購入内容の確認
        .buy__content
          .buy__content__item
            .buy__item__box
              .buy__item__box__image
                = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png"
              .buy__item__box__detail
                %p.buy__name 
                  = @item.name
                .buy__item__box__detail2
                  %p.buy__icon ¥
                  %p.buy__price
                    = @item.price
                  .buy__item_tax__price
                    %span.buy__tax (税込)
                    %span.buy__fee
                      = @item.delivery_method
        .buy__content
          .buy__content__item
            %form.buy__form
              .buy__price__table
                .buy__price__label 支払い金額
                .buy__price__2
                  = "¥#{@item.price}"
              .buy__method
                支払い方法
              - if @CreditCard
              - else
                = link_to new_credit_card_path, class: "link-btn" do
                  登録して下さい
              .buy__shipping
                %h3 配送先
                .buy__ship
                  = "〒#{@profile.post_code}"
                  .buy__address
                    = @profile.prefecture
                    = @profile.city
                    = @profile.address
                    = @profile.bullding
                    .buyer__name
                      = @User.family_name
                      = @User.first_name
                .buy__mation
                - if @CreditCard
                  .btn__box
                  - if @item.buyer_id.present? 
                    売り切れました
                  - else
                    = link_to "購入する", pay_item_purchases_path(@item), method: :put
