.mypage-container.clearfix
  .mypage-main-content
    %section.mypage-user-icon
      = link_to my_pages_path do
        .mypage-user-photo
          = image_tag('member_photo_noimage_thumb.png',  height: '60px', width: '60px')
        %h2.user-name
          = @user.nickname
        .mypage-score
          %span
            = "評価  #{@rates}"
          %span
            = "出品数  #{@items}"
    = render "notification_todo_list"

    = render "items_list"
  
  = render partial: 'side_bar', locals: {card: @card}

= link_to new_item_path, class: "sell-btn" do
  %div 出品する
  = image_tag "icon_camera.png", size: "54x54", class: "camera-icon"