.footer_banner
  .inner
    %h2 だれでもかんたん、人生を変えるフリマアプリ
    %p 今すぐ無料ダウンロード！
    .menu1__content__btn
      = link_to "#" do
        = image_tag('google-play-badge.png', height: '80px', width: '180px')
      = link_to "#" do
        = image_tag('google-play-badge.png', height: '80px', width: '180px',class: 'image')
.footer
  %ul.footer__content
    %li.footer__content__menu
      %h2 FURIMAについて
      %ul
        %li
          = link_to "会社概要(運営会社)","#"
        %li
          = link_to "プライバシーポリシー","#"
        %li
          = link_to "FURIMA利用規約","#"
        %li
          = link_to "ポイントに関する特約","#"
    %li.footer__content__menu
      %h2 FURIMAを見る
      %ul
        %li
          = link_to "カテゴリー一覧","#"
        %li
          = link_to "ブランド一覧","#"
    %li.footer__content__menu
      %h2 ヘルプ＆ガイド
      %ul
        %li
          = link_to "FURIMAガイド","#"
        %li
          = link_to "FURIMAロゴ利用ガイド","#"
        %li
          = link_to "お知らせ","#"
  .footer_logo
    = link_to image_tag('logo-white.png',  height: '40px', width: '140px', class: 'header__content__menu__title'),root_path
  %p © FURIMA